@charset "UTF-8";

body {
	background-color: #6B726F;
}
	
h4 {
  font-size: 36px;
 
}

p {
font-size: 20px;
  color: Purple;
}

aside {
font-size: 20px;
  color: lightpink;
}

h1 {
	font-size: 40px;
	text-shadow: 0px 1px 34px #0F623C;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h3 {
	font-size: 30px;
	color: Purple;
	
}

h4 {
	font-size: 28px;
	color: #BF93B6;
}

h5 {
  font-size: 20px;
  color:midnightblue;
}

head {
  background-color:cadetblue
}

li {
  font-size: 22px;
 color: #9A93BF;
}

.images {
	width: 40%;
	}

.imagesa1 {
	width: 40%;
}

body{ 
	animation-name: colorchange;
	animation-duration: 30s;
	
}
  @-moz-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }
                       
  @keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
     }

  @-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }


@media screen and (min-width:100px) and (max-width:700px) {

	.imagesa1 {
		width: 90%;
	}	
  }

	@media screen and (min-width:200px) and (max-width:1000px) {
		
	.imagesa2 {
			width: 80%;
	}
  }
